@mixin bg-and-font-theme($bg, $txt) {
  background: $bg;
  color : $txt;
  &:hover {
    background:darken($bg,8%);
    transition: all 0.3s ease;
  }
  &:active {
    background:darken($bg,25%);
  }
}


.btn {
border-width : 5px;
border-color : #3872d1;
}

.ui-char {
   @include bg-and-font-theme(#3d3d3d, #4984c6);
}

.btn-emphasis {
   @include bg-and-font-theme(#002e82, #FFFFFF);
   border-style: none;
}

.default-ui {
   @include bg-and-font-theme(#b3bbdc, #001672);
}

.rounded {
  border-radius: 10px 10px 10px 10px / 10px 10px 10px 10px;
}
